* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
}
.about-section {
  background: url(../images/BBBEE.jpg) no-repeat left;
  background-color: #fdfdfd;
  background-size: 55%;
  overflow: hidden;
  padding: 100px 0;
}
.why-us-overlay {
  top: 20px;
  left: 0;
  width: 100%;
  color: #000;
  padding: 20px;
}
.why-us-overlay h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.why-us-overlay .why-us-text {
  font-size: 14px;
  line-height: 1.6;
  text-align: justify;
}

.inner-container {
  width: 55%;
  float: right;
  background-color: #fdfdfd;
  padding: 150px;
}
.inner-container h1 {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
}
.text {
  font-size: 13px;
  color: #545454;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
}
.skills {
  margin-top: 20px; /* Add some space above the button */
}
.read-more-button {
  padding: 10px 20px;
  background-color: #007bff; /* Button background color */
  color: white; /* Button text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.read-more-button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

@media screen and (max-width: 1200px) {
  .inner-container {
    padding: 80px;
  }
}
@media screen and (max-width: 1000px) {
  .about-section {
    background-size: 100%;
    padding: 100px 40px;
  }
  .inner-container {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .about-section {
    padding: 0px;
  }
  .inner-container {
    padding: 60px;
  }
}
