/* HeroSection.css */

#hero {
  width: 100%;
  height: 805px;
  background: url("../images/blackwallpaper.jpg") center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  padding-top: 32px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.hero-box {
  text-align: center;
  color: #fff;
  max-width: 600px;
  margin: 0 auto;
}

.hero-heading {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-desc {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.btn-box {
  margin-top: 1.5rem;
}

.cta-btn {
  background: #fff;
  color: #2e2c2c;
  padding: 0.8rem 2rem;
  border-radius: 50px;
  font-size: 1rem;
  text-decoration: none;
  transition: 0.3s;
}

.cta-btn:hover {
  background: #ddd;
}
.hero .read-more-btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.hero .read-more-btn:hover {
  background-color: #0056b3;
}
